<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Accounts</title>
</head>
<body>
	<h2 th:text="${account.accountName}"></h2>
	<form action="" method="POST">
		<input th:field="${account.accountId}" type="hidden"/>
		<div>
			Account Name: <label>
			<input th:field="${account.accountName}" type="text">
		</label>
		</div>
		<input type="submit" value="Save Account">

	</form>

	<div>
		<a th:href="@{/users/{userId}(userId=${user.userId})}">Go Back</a>
	</div>
</body>
</html>